{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="board">
  <ul>
    {% for board in Board %}
    <button>
    <li>
      <a href="{% url 'board' board.id %}">{{board.title}}</a>
    </li>
    </button>
    {% endfor %}
  </ul>
  </div>
  
  <div class="page">
    <!--정렬-->
    <form method="GET" action="{% url 'home' %}">
    <div class="col-4">
      <select name="sort" id="sort">
        <option value="recently" id="recently">최신순</option>
        <option value="likes" id="likes">좋아요순</option>
        <option value="comments" id="comments">댓글순</option>
      </select>
      <button class="btn btn-primary" type="submit" value="">정렬</button>
    </div>

    <!--pagenation-->
    <div class="pagination">
      {% if posts.has_previous %}
        <a href="?page=1&sort={{sort}}">First</a>
        <a href="?page={{posts.previous_page_number}}&sort={{sort}}">Previous</a>
      {% endif %}

      <span>{{posts.number}} / {{posts.paginator.num_pages}}</span>

      {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}&sort={{sort}}">Next</a>
        <a href="?page={{posts.next_page_number}}&sort={{sort}}">Last</a>
      {% endif %}
    </div>
    </form>
  </div>

  <div class="contents">
  <!--글-->
  {% for post in posts %}
    <a href="{% url 'detail' post.id %}">{{post.title}}</a>
    - {{post.writer}} - {{post.date | date:'Y-m-d H:i'}} - (좋아요 : {{post.like_count}})
    - (댓글 : {{post.comment_count}})
    - 게시판 : <a href="{% url 'board' post.board.id %}">{{post.board.title}}</a>
    <br><br>
  {% endfor %}
  </div>

  <!--검색-->
  <form method="GET" action="{% url 'search' %}">
  <div id="search">
    <input name="search" type="text">
    <button class="btn btn-primary" type="submit">검색</button>
  </div>
  </form>
</div>

{% endblock %}

